{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "standard-with-typescript"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
