{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],

  "rules": {
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-this-assignment": "off"
  },

  "extends": [
    "standard-with-typescript"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
